In [2]:
import pandas as pd

In [7]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None,index_col=False )
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
train_set[1].train_setvalue_counts()

1
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: count, dtype: int64

In [13]:
len(train_set[1].unique())

9

In [14]:
columns=[1,3,5,6,7,8,9,13]

In [19]:
train_set=train_set[columns]

In [20]:
train_set.columns=["Employment","Degree","Status","Designation","Family_job","Race","Sex","Country"]

In [21]:
train_set.head(5)

,Employment,Degree,Status,Designation,Family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [25]:
for i in train_set.columns[:]:
    print(i," : ",len(train_set[i].unique()),"Labels")

Employment  :  9 Labels
Degree  :  16 Labels
Status  :  7 Labels
Designation  :  15 Labels
Family_job  :  6 Labels
Race  :  5 Labels
Sex  :  2 Labels
Country  :  42 Labels

In [35]:
train_set["Country"].replace("Jhonny","?",inplace=True)

In [38]:
train_set["Country"].value_counts().to_dict()

{' United-States': 29170,
 ' Mexico': 643,
 ' ?': 583,
 ' Philippines': 198,
 ' Germany': 137,
 ' Canada': 121,
 ' Puerto-Rico': 114,
 ' El-Salvador': 106,
 ' India': 100,
 ' Cuba': 95,
 ' England': 90,
 ' Jamaica': 81,
 ' South': 80,
 ' China': 75,
 ' Italy': 73,
 ' Dominican-Republic': 70,
 ' Vietnam': 67,
 ' Guatemala': 64,
 ' Japan': 62,
 ' Poland': 60,
 ' Columbia': 59,
 ' Taiwan': 51,
 ' Haiti': 44,
 ' Iran': 43,
 ' Portugal': 37,
 ' Nicaragua': 34,
 ' Peru': 31,
 ' France': 29,
 ' Greece': 29,
 ' Ecuador': 28,
 ' Ireland': 24,
 ' Hong': 20,
 ' Cambodia': 19,
 ' Trinadad&Tobago': 19,
 ' Laos': 18,
 ' Thailand': 18,
 ' Yugoslavia': 16,
 ' Outlying-US(Guam-USVI-etc)': 14,
 ' Honduras': 13,
 ' Hungary': 13,
 ' Scotland': 12,
 ' Holand-Netherlands': 1}

In [39]:
country_map = train_set["Country"].value_counts().to_dict()

In [40]:
train_set["Country"]=train_set["Country"].map(country_map)

In [42]:
train_set.head(50)

,Employment,Degree,Status,Designation,Family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95
5,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,29170
6,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,81
7,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
8,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,29170
9,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
10,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,29170
11,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,100
12,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,29170
13,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,29170
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,583
15,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,643
16,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,29170
17,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,29170
18,Private,11th,Married-civ-spouse,Sales,Husband,White,Male,29170
19,Self-emp-not-inc,Masters,Divorced,Exec-managerial,Unmarried,White,Female,29170
20,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,29170
21,Private,HS-grad,Separated,Other-service,Unmarried,Black,Female,29170
22,Federal-gov,9th,Married-civ-spouse,Farming-fishing,Husband,Black,Male,29170
23,Private,11th,Married-civ-spouse,Transport-moving,Husband,White,Male,29170
24,Private,HS-grad,Divorced,Tech-support,Unmarried,White,Female,29170
25,Local-gov,Bachelors,Married-civ-spouse,Tech-support,Husband,White,Male,29170
26,Private,HS-grad,Never-married,Craft-repair,Own-child,White,Male,29170
27,?,Some-college,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,80
28,Private,HS-grad,Divorced,Exec-managerial,Not-in-family,White,Male,29170
29,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,29170
30,Local-gov,Assoc-acdm,Never-married,Protective-serv,Not-in-family,White,Male,29170
31,Private,Some-college,Never-married,Sales,Own-child,Black,Male,29170
32,Private,Bachelors,Divorced,Exec-managerial,Own-child,White,Male,29170
33,Federal-gov,Some-college,Married-civ-spouse,Adm-clerical,Own-child,White,Male,29170
34,State-gov,Some-college,Married-civ-spouse,Other-service,Husband,Black,Male,29170
35,Private,11th,Never-married,Machine-op-inspct,Unmarried,White,Male,114
36,Private,Some-college,Never-married,Machine-op-inspct,Own-child,White,Male,29170
37,Private,HS-grad,Married-AF-spouse,Adm-clerical,Wife,White,Female,29170
38,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,583
39,Self-emp-not-inc,Assoc-acdm,Married-civ-spouse,Prof-specialty,Husband,White,Male,29170
40,Private,9th,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,29170
41,Self-emp-not-inc,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,29170
42,Private,Bachelors,Married-civ-spouse,Tech-support,Husband,White,Male,29170
43,Private,HS-grad,Separated,Adm-clerical,Unmarried,White,Female,29170
44,Private,HS-grad,Never-married,Handlers-cleaners,Not-in-family,White,Male,29170
45,Federal-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Black,Male,29170
46,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,29170
47,Private,Masters,Divorced,Exec-managerial,Unmarried,White,Female,29170
48,State-gov,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,White,Male,29170
49,Private,Assoc-voc,Never-married,Prof-specialty,Not-in-family,White,Male,29170

##### Advantages
      1.Easy To Use 

      2.Not Increasing Feature Space 
##### Disadvantage
      1. It will Provide same weight ,it will be major problem