#### Target Guided Ordinal Encoding
     1.Ordering the Labels According to the target
     2.Replce the labels by the joint probability of being 1 or 0

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\Dell\\Downloads\\titanic.csv",usecols=["Cabin","Survived"])

In [4]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [5]:
df["Cabin"].fillna("Missing",inplace=True)

In [8]:
df.head(20)

    Survived    Cabin
0          0  Missing
1          1      C85
2          1  Missing
3          1     C123
4          0  Missing
5          0  Missing
6          0      E46
7          0  Missing
8          1  Missing
9          1  Missing
10         1       G6
11         1     C103
12         0  Missing
13         0  Missing
14         0  Missing
15         1  Missing
16         0  Missing
17         1  Missing
18         0  Missing
19         1  Missing

In [10]:
df["Cabin"]=df["Cabin"].astype(str).str[0]

In [11]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [12]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [15]:
df.groupby(["Cabin"])["Survived"].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [19]:
df.groupby(["Cabin"])["Survived"].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [20]:
ordinal_labels = df.groupby(["Cabin"])["Survived"].mean().sort_values().index

In [21]:
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [26]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}

In [27]:
df["Cabin_ordinal_labels"]=df["Cabin"].map(ordinal_labels2)

In [28]:
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

#### Mean Encoding

In [30]:
Mean_ordinal = df.groupby(["Cabin"])["Survived"].mean().to_dict()

In [31]:
Mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [33]:
df["Mean_Ordinal_Encode"] = df["Cabin"].map(Mean_ordinal)

In [37]:
df.head()

   Survived Cabin  Cabin_ordinal_labels  Mean_Ordinal_Encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854