In [1]:
# import python packages


import numpy as np
import pandas as pd

In [2]:
# import dataset

data = 'C:/datasets/dataset.csv'

df = pd.read_csv(data)

In [3]:
# view the shape of the dataframe

df.shape

(35717, 4)

In [4]:
# view the first five rows of dataset

df.head()

  SystemCodeNumber  Capacity  Occupancy          LastUpdated
0      BHMBCCMKT01       577         61  2016-10-04 07:59:42
1      BHMBCCMKT01       577         64  2016-10-04 08:25:42
2      BHMBCCMKT01       577         80  2016-10-04 08:59:42
3      BHMBCCMKT01       577        107  2016-10-04 09:32:46
4      BHMBCCMKT01       577        150  2016-10-04 09:59:48

In [5]:
# view summary of dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35717 entries, 0 to 35716
Data columns (total 4 columns):
SystemCodeNumber    35717 non-null object
Capacity            35717 non-null int64
Occupancy           35717 non-null int64
LastUpdated         35717 non-null object
dtypes: int64(2), object(2)
memory usage: 1.1+ MB

In [6]:
# convert the lastUpdated column into datetime format

df['LastUpdated'] = pd.to_datetime(df['LastUpdated'])

In [7]:
# again view the summary of dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35717 entries, 0 to 35716
Data columns (total 4 columns):
SystemCodeNumber    35717 non-null object
Capacity            35717 non-null int64
Occupancy           35717 non-null int64
LastUpdated         35717 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.1+ MB

In [8]:
df['Date'] = df['LastUpdated'].dt.date

df['Time'] = df['LastUpdated'].dt.time

In [9]:
# again view the first ten rows of dataset

df.head(10)

,SystemCodeNumber,Capacity,Occupancy,LastUpdated,Date,Time
0,BHMBCCMKT01,577,61,2016-10-04 07:59:42,2016-10-04,07:59:42
1,BHMBCCMKT01,577,64,2016-10-04 08:25:42,2016-10-04,08:25:42
2,BHMBCCMKT01,577,80,2016-10-04 08:59:42,2016-10-04,08:59:42
3,BHMBCCMKT01,577,107,2016-10-04 09:32:46,2016-10-04,09:32:46
4,BHMBCCMKT01,577,150,2016-10-04 09:59:48,2016-10-04,09:59:48
5,BHMBCCMKT01,577,177,2016-10-04 10:26:49,2016-10-04,10:26:49
6,BHMBCCMKT01,577,219,2016-10-04 10:59:48,2016-10-04,10:59:48
7,BHMBCCMKT01,577,247,2016-10-04 11:25:47,2016-10-04,11:25:47
8,BHMBCCMKT01,577,259,2016-10-04 11:59:44,2016-10-04,11:59:44
9,BHMBCCMKT01,577,266,2016-10-04 12:29:45,2016-10-04,12:29:45

In [10]:
# remove redundant columns

cols = ['SystemCodeNumber', 'Capacity', 'LastUpdated']

df.drop(cols, axis=1, inplace=True)

In [11]:
# check the data types of the columns

df.dtypes

Occupancy     int64
Date         object
Time         object
dtype: object

In [12]:
# convert the data type of Date column

df['Date']=pd.to_datetime(df['Date'])

In [13]:
# again check the data type of df dataframe

df.dtypes

Occupancy             int64
Date         datetime64[ns]
Time                 object
dtype: object

In [14]:
# set the index of the dataframe

df.set_index('Date', inplace=True)

df.index

DatetimeIndex(['2016-10-04', '2016-10-04', '2016-10-04', '2016-10-04',
               '2016-10-04', '2016-10-04', '2016-10-04', '2016-10-04',
               '2016-10-04', '2016-10-04',
               ...
               '2016-12-19', '2016-12-19', '2016-12-19', '2016-12-19',
               '2016-12-19', '2016-12-19', '2016-12-19', '2016-12-19',
               '2016-12-19', '2016-12-19'],
              dtype='datetime64[ns]', name='Date', length=35717, freq=None)

In [15]:
y=df['Occupancy'].resample('D').mean()

y.head(10)

Date
2016-10-04    655.543651
2016-10-05    655.185185
2016-10-06    636.942130
2016-10-07    576.282407
2016-10-08    428.036232
2016-10-09    283.159091
2016-10-10    582.358796
2016-10-11    646.402778
2016-10-12    671.660714
2016-10-13    674.172619
Freq: D, Name: Occupancy, dtype: float64

Here, the term `D` means that we group the data in buckets by each day and compute the daily mean.

In [16]:
y.isnull().sum()

4

In [17]:
y.fillna(method='bfill', inplace=True)

In [18]:
y.isnull().sum()

0